<div>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <a title="Liên hệ fanpage Facebook" [attr.data-title]="'Gửi tin nhắn fanpage Facebook'" href="https://www.messenger.com/t/gosach90" class="mess-button-main" target="_blank"><img src="/assets/img/pages/logo/messenger-logo.png" alt=""/></a>
  <a title="Liện hệ Zalo" [attr.data-title]="'Liên hệ Zalo'"  href="https://zalo.me/0363499815" target="_blank" class="zalo-button-main" ><img src="/assets/img/pages/logo/zalo-icon.png" alt=""></a>
  <a title="Fanpage Facebook" [attr.data-title]="'Fanpage Facebook'"  href="https://www.facebook.com/GOSACH90"  class="fb-button-main" target="_blank"><i class="fa fa-facebook" target="_blank"></i></a>
  <a title="Gọi điện tư vấn" [attr.data-title]="'Gọi điện tư vấn'"  href="tel:0363499815" class="phone-button-main" target="_blank"><i class="ion-ios-telephone-outline"></i></a>
  <a title="Gửi mail" [attr.data-title]="'Gửi mail'"  [href]="'mailto:gosach90@gmail.com'" class="mail-button-main" target="_blank"><i class="ion-ios-email-outline" target="_blank"></i></a>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>