.temp-pages{
    background-color: #377017cc;
    height: 97px;
    /* background-image: url('/assets/img/about-bg.jpg') ; */
}
.dash{
    border: none;
    height: 4px; /* Độ dày của gạch ngang */
    background-color:#377017cc; /* Màu xanh lá */
    width: 20%; /* Chiều rộng đầy đủ */
    margin: 20px 0; /* Khoảng cách trên và dưới dấu gạch */
}